<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>修改商品页</title>

	</head>

	<body>
		<div class="addgoodpage">
			<el-row :gutter="20" justify="center">
				<el-col :span="4">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="16">
					<el-form :model="auction" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
						<el-form-item label="名称" prop="auctionname">
							<el-input v-model="auction.auctionname"></el-input>
						</el-form-item>
						<el-form-item label="起拍价" prop="auctionstartprice">
							<el-input v-model.number="auction.auctionstartprice"></el-input>
						</el-form-item>
						<el-form-item label="底价" prop="auctionupset">
							<el-input v-model.number="auction.auctionupset"></el-input>
						</el-form-item>
						<el-form-item label="开始时间" required>
							<el-form-item prop="auctionstarttime">
								<el-date-picker type="datetime" placeholder="选择日期" v-model="auction.auctionstarttime" style="width: 100%;"></el-date-picker>
							</el-form-item>
						</el-form-item>
						<el-form-item label="结束时间" required>
							<el-form-item prop="auctionendtime">
								<el-date-picker type="datetime" placeholder="选择日期" v-model="auction.auctionendtime" style="width: 100%;"></el-date-picker>
							</el-form-item>
						</el-form-item>

						<el-form-item label="修改图片" prop="postalCode">
							<el-upload class="upload-demo" ref="upload" :auto-upload="false" :limit='1' :on-exceed="handlelimits" action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview" :on-remove="handleRemove" :file-list="fileList" list-type="picture">
								<el-button size="small" type="primary">点击上传</el-button>
								<div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
							</el-upload>
						</el-form-item>
						<el-form-item label="描述" prop="auctiondesc">
							<el-input type="textarea" v-model="auction.auctiondesc"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
							<el-button @click="goBack">取消</el-button>
						</el-form-item>
					</el-form>
				</el-col>
				<el-col :span="4">
					<div class="grid-content bg-purple"></div>
				</el-col>
			</el-row>

		</div>
	</body>
	<script>
		var modifgoodpage = new Vue({
			data: {
				auction: {
					auctionId: '',
					auctionname: '',
					auctionstartprice: '',
					auctionupset: '',
					auctionpic: '',
					auctionstarttime: '',
					auctionendtime: '',
					auctiondesc: '',
					isup: 0,
				},
				imgObj: {
					"data": "",
					"name": ""
				},
				fileList: [],
				rules: {
					auctionname: [{
						required: true,
						message: '请输入商品名称',
						trigger: 'blur'
					}],
					auctionstartprice: [{
							required: true,
							message: '请输入起拍价',
							trigger: 'blur'
						},
						{
							type: 'number',
							message: '必须为数字',
							trigger: 'blur'
						}
					],
					auctionupset: [{
							required: true,
							message: '请输入每次竞拍低价',
							trigger: 'blur'
						},
						{
							type: 'number',
							message: '必须为数字',
							trigger: 'blur'
						}
					],
					auctionstarttime: [{
						type: 'date',
						required: true,
						message: '请选择开始日期',
						trigger: 'change'
					}],
					auctionendtime: [{
						type: 'date',
						required: true,
						message: '请选择结束日期',
						trigger: 'change'
					}],
					auctiondesc: [{
						required: true,
						message: '请填写商品描述信息',
						trigger: 'blur'
					}]
				}
			},
			methods: {
				goBack() {
					managementApp.isShow3 = false;
				},
				submitForm(formName) {
					let _this = this;
					//console.log(this.$refs.upload.uploadFiles);  获取图片的url
					var file = this.$refs.upload.uploadFiles[0].raw;
					var dd = new Promise(function(resolve, reject) {
						var fr = new FileReader();
						fr.readAsDataURL(file); //读取文件
						//操作文件事件
						fr.onload = function() {
							var base64Data = this.result; //获得base编码字符串格式
							_this.imgObj.name = file.name; //设置文件名
							_this.imgObj.data = base64Data.substring(base64Data
								.indexOf(';base64,') + 8); //设置base64数据字符串
							resolve(base64Data);
						};

					});
					dd.then(function(base64Img) {
						_this.auction.auctionpic = base64Img;
						_this.$refs[formName].validate((valid) => {
							if(valid) {
								console.log(_this.auction)
								$.ajax({
									type: "post",
									url: "http://127.0.0.1:8080/api/Auctions/Auction",
									data: JSON.stringify(_this.auction),
									contentType: "application/json",
									dataType: "JSON",
									success: function(data) {
										console.log(data);
										if(data.code == "200") {
											_this.$message({
												message: data.msg,
												type: 'success'
											});
											managementApp.isShow3 = false;
											managementApp.goToPage();
										} else if(data.code == "300") {
											_this.$message({
												message: data.msg,
												type: 'error'
											});
										}
									}
								});
							} else {
								console.log('error submit!!');
								return false;
							}
						});
					})
				},
				/*照片移除*/
				handleRemove(file, fileList) {
					console.log(file, fileList);
				},
				handlePreview(file) {
					console.log(file);
				},
				handlelimits(files, fileList) {
					alert("只能上传一个");
				},
			},
			mounted() {

			}
		}).$mount(".addgoodpage");
	</script>

</html>