<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>拍卖商品管理页</title>
		<style type="text/css">
			.el-header,
			.el-footer {
				background-color: #FFF;
				color: #333;
				text-align: center;
				line-height: 60px;
			}
			
			.el-aside {
				background-color: #D3DCE6;
				color: #333;
				text-align: center;
				line-height: 200px;
			}
			
			.el-main {
				background-color: #FFF;
				color: #333;
				text-align: center;
				/*line-height: 160px;*/
			}
			
			body>.el-container {
				margin-bottom: 40px;
			}
			
			* {
				padding: 0px;
				margin: 0px;
			}
			
			.el-row {}
			
			.el-col {
				border-radius: 4px;
			}
			
			.grid-content {
				border-radius: 4px;
				min-height: 36px;
			}
			
			.row-bg {
				padding: 10px 0;
				background-color: #FFF;
			}
			/**
			 * 卡片的样式
			 */
			
			.el-carousel__item h3 {
				color: #475669;
				font-size: 14px;
				opacity: 0.75;
				line-height: 200px;
				margin: 0;
			}
			
			.el-carousel__item:nth-child(2n) {
				background-color: #99a9bf;
			}
			
			.el-carousel__item:nth-child(2n+1) {
				background-color: #d3dce6;
			}
		</style>
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
	</head>

	<body>
		<div class="managementApp">
			<el-container style='height:95vh; border: 1px solid #eee'>
				<el-header style='border-bottom: 1px solid #eee'>
					<el-row :gutter="20" type="flex" justify="center">
						<el-col :span="6">
							<el-link href="竞拍首页.html">
								<h3>在线拍卖系统</h3></el-link>
						</el-col>
						<el-col :span="12">
						</el-col>
						<el-col :span="6">
							<div class="grid-content bg-purple">
								<el-menu class="el-menu-demo" mode="horizontal">
										<el-menu-item index="1" @click="guanlilogin" v-if="user ==null">登录</el-menu-item>
									<el-menu-item index="2" v-if="user != null " @click="destroy">注销</el-menu-item>
								</el-menu>
							</div>
						</el-col>
					</el-row>
				</el-header>
				<el-main style="padding:0px 20px; margin-top: 20px;">
					<el-row :gutter="20" justify="center" type="flex">
						<el-col :span="3">
							<div class="grid-content bg-purple"></div>
						</el-col>
						<el-col :span="18">
							<el-form ref="form" :model="sizeForm" label-width="70px" size="mini">
								<el-row :gutter="20" justify="center">
									<el-col :span="4">
										<el-form-item label="名称">
											<el-input v-model="sizeForm.name"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">
										<el-form-item label="描述">
											<el-input v-model="sizeForm.describe"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="活动时间">
											<el-col :span="11">
												<el-date-picker type="date" placeholder="选择日期" v-model="sizeForm.date1" style="width: 100%;"></el-date-picker>
											</el-col>
											<el-col class="line" :span="2">-</el-col>
											<el-col :span="11">
												<el-date-picker type="date" placeholder="选择时间" v-model="sizeForm.date2" style="width: 100%;"></el-time-picker>
											</el-col>
										</el-form-item>
									</el-col>
									<el-col :span="4">
										<el-form-item label="起拍价">
											<el-input v-model="sizeForm.startingPrice "></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="4">
										<el-form-item style="margin-left: 0px;" label-width="0px">
											<el-button type="primary" @click="goToPage()">查询</el-button>
											<el-button type="primary" @click="isShow3=true">新增</el-button>
										</el-form-item>
									</el-col>
								</el-row>
							</el-form>
						</el-col>
						<el-col :span="3">
							<div class="grid-content bg-purple"></div>
						</el-col>
					</el-row>
					<el-row :gutter="20" justify="center">
						<el-col :span="3">
							<div class="grid-content bg-purple"></div>
						</el-col>
						<el-col :span="19">
							<div class="">
								<template>
									<el-table :data="pageInfo.list" stripe style="width: 100%" border>
										<el-table-column prop="auctionname" label="名称">
										</el-table-column>
										<el-table-column prop="auctiondesc" label="描述">
										</el-table-column>
										<el-table-column prop="auctionstarttime" label="开始时间">
										</el-table-column>
										<el-table-column prop="auctionendtime" label="结束时间">
										</el-table-column>
										<el-table-column prop="auctionstartprice" label="起拍价">
										</el-table-column>
										<el-table-column label="操作">
											<template slot-scope="temp">
												<el-button type="primary" icon="el-icon-edit" v-if="temp.row.isup==0" circle size="mini" @click="modifyPage(temp.row)"></el-button>
												<el-button type="danger" icon="el-icon-delete" circle size="mini" v-if="temp.row.isup==0" @click="reomveGood(temp.row.auctionId)"></el-button>
												<el-button type="success" v-if="temp.row.isup==0" @click="Release(temp.row)" size="mini">发布</el-button>
											</template>
										</el-table-column>
									</el-table>
								</template>
								<template >
									<div class="block" v-if="listlength>0">
										<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage3" :page-size="pageInfo.pageSize" layout="prev, pager, next, jumper" :total="pageInfo.total">
										</el-pagination>
									</div>
								</template>
							</div>
						</el-col>
						<el-col :span="2">
							<div class="grid-content bg-purple"></div>
						</el-col>
					</el-row>
					<el-dialog @opened="handlerOpen" ref="modifdialog" title="修改商品页" :visible.sync="isShow2" width="50%" :before-close="handleClose2" center>
						<div id="cnt">修改商品页</div>
					</el-dialog>
					<el-dialog @opened="handlerOpen1" ref="modifdialogs" title="新增商品页" :visible.sync="isShow3" width="50%" :before-close="handleClose4" center>
						<div id="acnt">修改商品页</div>
					</el-dialog>
				</el-main>
				<el-footer style='height:10%;'>
					<el-row :gutter="20" justify="center">
						<el-col :span="24">
							<div class="grid-content bg-purple">www.baidu.com</div>
						</el-col>
					</el-row>
				</el-footer>
			</el-container>

		</div>
	</body>
	<script type="text/javascript" src="js/index.js"></script>
	<script>
		var managementApp = new Vue({
			data: {
				isShow2: false,
				isShow3: false,
				currentPage3: 0,
				listlength:0,
				sizeForm: {
					name: '',
					date1: '',
					date2: '',
					describe: '',
					startingPrice: '',
				},
				pageInfo: {},
				user: JSON.parse(window.sessionStorage.getItem("user")),
			},
			methods: {
				//分页
				handleSizeChange(val) {
					console.log(`每页 ${val} 条`);
				},
				guanlilogin(){
					location.href = `管理员登录页.html`;
				}
				,
				handleCurrentChange(val) {
					console.log(`当前页: ${val}`);
					this.goToPage(val)
				},
				handleClose2(done) {
					done();
				},
				handleClose4(done) {
					done();
				},
				modifyPage(good) {
					this.isShow2 = true;
					window.sessionStorage.setItem("good", JSON.stringify(good));
				},
				reomveGood(goodid) {
					console.log(goodid)
					let _this = this;
					$.ajax({
						type: "delete",
						url: `http://127.0.0.1:8080/api/Auctions/Auction/remove/${goodid}`,
						contentType: "application/json",
						dataType: "JSON",
						success: function(data) {
							console.log(data);
							if(data.code == "200") {
								_this.$message({
									message: data.msg,
									type: 'success'
								});
								_this.goToPage();
							} else if(data.code == "300") {
								_this.$message({
									message: data.msg,
									type: 'error'
								});
							}
						}
					});
				},
				Release(auction) {
					auction.isup = 1;
					console.log(auction);
					let _this = this;
					$.ajax({
						type: "put",
						url: `http://127.0.0.1:8080/api/Auctions/Auction`,
						data: JSON.stringify(auction),
						contentType: "application/json",
						dataType: "JSON",
						success: function(data) {
							console.log(data);
							if(data.code == "200") {
								_this.$message({
									message: data.msg,
									type: 'success'
								});
								_this.goToPage();
							} else if(data.code == "300") {
								_this.$message({
									message: data.msg,
									type: 'error'
								});
							}
						}
					});
				},
				handlerOpen() {
					$("#cnt").load("修改商品页.html"); //ajax读取页面
				},
				handlerOpen1() {
					$("#acnt").load("增加商品页.html"); //ajax读取页面
				},
				destroy() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/Auctionusers/destroy`, (data) => {
						if(data.code == "200") {
							window.sessionStorage.clear();
							_this.user = null;
							location.href = `${data.dizhi}`;
						}
					});
				},
				goToPage(n = "1", s = "3") {
					
					
					var startingPrice=0;
					var date1=null;
					var date2=null;
					var name=null;
					var describe=null;
					if(this.sizeForm.date1 != '') {
						date1=this.crtTimeFtt(this.sizeForm.date1);
					}
					if(this.sizeForm.date2 != '') {
						date2=this.crtTimeFtt(this.sizeForm.date2);
					}
					if(this.sizeForm.startingPrice != '') {
						startingPrice=this.sizeForm.startingPrice;
					}
					if(this.sizeForm.name != '') {
						name=this.sizeForm.name;
					}
					if(this.sizeForm.describe != '') {
						describe=this.sizeForm.describe;
					}
					console.log(`${name},${date1},${date2},${this.sizeForm.describe},${startingPrice}`);
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/api/Auctions/${n}/${s}/${name}/${date1}/${date2}/${describe}/${startingPrice}`, (data) => {
						console.log(data)
						_this.pageInfo = data;
						_this.listlength=data.list.length;
						_this.currentPage3 = _this.pageInfo.pageNum;
					})
				},
				crtTimeFtt(val) {
					var date = new Date(val);
					return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
				},

			},
			mounted() {
				this.goToPage();
			}
		}).$mount(".managementApp");
	</script>

</html>