<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>拍卖品列表页</title>
	</head>

	<body>
		<div class="AuctionItemApp" style="margin-top: 20px;">
			<el-row :gutter="20" justify="center">
				<el-col :span="3">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="18">
					<el-form ref="form" :model="sizeForm" label-width="70px" size="mini">
						<el-row :gutter="20" justify="center">
							<el-col :span="4">
								<el-form-item label="名称">
									<el-input v-model="sizeForm.name"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="4">
								<el-form-item label="描述">
									<el-input v-model="sizeForm.describe"></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="9">
								<el-form-item label="活动时间">
									<el-col :span="11">
										<el-date-picker type="date" placeholder="选择日期" v-model="sizeForm.date1" style="width: 100%;"></el-date-picker>
									</el-col>
									<el-col class="line" :span="2">-</el-col>
									<el-col :span="11">
										<el-time-picker placeholder="选择时间" v-model="sizeForm.date2" style="width: 100%;"></el-time-picker>
									</el-col>
								</el-form-item>
							</el-col>
							<el-col :span="5">
								<el-form-item label="起拍价">
									<el-input v-model="sizeForm.startingPrice "></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="2">
								<el-form-item size="mini">
									<el-button type="primary" @click="onSubmit">查询</el-button>
								</el-form-item>
							</el-col>
						</el-row>
					</el-form>
				</el-col>
				<el-col :span="3">
					<div class="grid-content bg-purple"></div>
				</el-col>
			</el-row>
			<el-row :gutter="20" justify="center">
				<el-col :span="3">
					<div class="grid-content bg-purple"></div>
				</el-col>
				<el-col :span="19">
					<div class="">
						<template>
							<el-table :data="AuctionData" stripe style="width: 100%" border>
								<el-table-column prop="date" label="日期">
								</el-table-column>
								<el-table-column prop="name" label="姓名">
								</el-table-column>
								<el-table-column prop="address" label="地址">
								</el-table-column>
								<el-table-column label="操作">
									<template slot-scope="temp">
										<el-button size="mini" @click="goAuction('竞拍页.html')">竞拍</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<template>
							<div class="block">
								<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page.sync="currentPage3" :page-size="100" layout="prev, pager, next, jumper" :total="1000">
								</el-pagination>
							</div>
						</template>
					</div>
				</el-col>
				<el-col :span="2">
					<div class="grid-content bg-purple"></div>
				</el-col>
			</el-row>
		</div>
	</body>
	<script>
		var AuctionItemApp = new Vue({
			data: {
				sizeForm: {
					name: '',
					date1: '',
					date2: '',
					describe: '',
					startingPrice: '',
					currentPage4: 3
				},
				AuctionData: [{
					date: '2016-05-02',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1518 弄'
				}, {
					date: '2016-05-04',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1517 弄'
				}, {
					date: '2016-05-01',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1519 弄'
				}, {
					date: '2016-05-03',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1516 弄'
				}]
			},
			methods: {
				onSubmit() {
					console.log('submit!');
				},
				goAuction(url, goods) {
					window.sessionStorage.setItem("goods", JSON.stringify(goods))
					indexApp.showView(url);
				},
				handleSizeChange(val) {
					console.log(`每页 ${val} 条`);
				},
				handleCurrentChange(val) {
					console.log(`当前页: ${val}`);
				}
			},
			mounted() {

			},
		}).$mount(".AuctionItemApp");
	</script>

</html>